<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto 01</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <header>
      <div id="logotipo">
        <img
          class="image"
          src="../static/images/DI.jpg"
          alt="Api"
        />
        <h1>Proyecto Individual Nº1 Data Engineering</h1>
      </div>
    </header>

    <div>
      <form action="/result" method="POST" class="form">
        <h2 class="form_title">Desarrollo del proyecto</h2>
        <ol>
          <li>Proceso de ETL desarrollado en Python</li>
          <li>Carga de datos en una base de datos en Mysql</li>
          <li>Desarrollo de una API en Flask</li>
          <li>Despliege de la API en Heroku Cloud</li>
        </ol>
        <h2 class="form_title">Formato de las consultasa a la API</h2>
        <ol>
          <li>/get_word_count/netflix/love/</li>
          <li>/get_score_count/netflix/85/2010/</li>
          <li>/get_second_score/amazon/</li>
          <li>/get_longest/netflix/min/2016/</li>
          <li>/get_rating_count/18+/</li>
        </ol>
        <h3 class="form_title">Base de datos en 
          <a
            href="https://www.phpmyadmin.co/index.php"
            target="_blank"
            >Mysql</a
          >
        </h2>
      </form>
    </div>
    
    <footer>
      P01-DI &copy; cquinayas@gmail.com
      <section class="buttons">
        <a href="https://github.com/cquinayas/API_FLASK_MYSQL_HEROKU" target="_blank" class="fa fa-github"></a>
        <a href="https://www.linkedin.com/in/cesar-augusto-quinayas-burgos-544084243/" target="_blank" class="fa fa-linkedin"></a>
        <a href="" class="fa fa-twitter"></a>
      </section>
    </footer>
    
  </body>
</html>
